.contact {
    margin-bottom: 40px;
    width: 300px;

    background-repeat: no-repeat;
    background-position: 0 0;
}

.contact__name {
    display: block;
    margin-bottom: 5px;

    color: @contrast-blue;
    font-size: 18px;
    font-weight: normal;
}

.contact__data {
    display: block;

    font-size: 16px;
    color: @black;
    font-weight: normal;
}

.contact__link {
    font-size: 18px;
    text-decoration: none;
    color: @black;
}

@media (max-width: @large-width) {
    .contact__name {
    }

    .contact__data {
        font-size: 16px;
    }
}

@media (max-width: @xmedium-width) {
    .contact {
        width: 50%;
    }
}

@media (max-width: @mobile-width) {
    .contact__name {
        font-size: 11px;
    }

    .contact__data {
        font-size: 12px;
    }
}