.contacts-popup {
    position: fixed;
    display: none;

    left: calc(50% - 780px/2);
    top: calc(50% - 465px/2);

    width: 780px;
    height: 465px;

    background-color: #fff;
    border-radius: 15px;
    background-image: url(../img/check.png);
    background-repeat: no-repeat;
    background-position: center 90px;

    z-index: 5;

    &--open {
        display: block;
    }
}

.contacts-popup__message {
    display: block;

    margin-top: 320px;

    text-align: center;
    font-size: 27px;
    font-weight: 400;
}

@media (max-width: @medium-width) {
    .contacts-popup {
        left: calc(50% - 480px/2);
        top: calc(50% - 265px/2);

        width: 480px;
        height: 265px;

        background-size: 100px auto;
    }

    .contacts-popup__message {
        margin-top: 220px;
        font-size: 20px;
    }
}

@media (max-width: @mobile-width) {
    .contacts-popup {
        left: calc(50% - 280px/2);
        top: calc(50% - 165px/2);

        width: 280px;
        height: 165px;

        background-position: center 60px;
        background-size: 60px auto;
    }

    .contacts-popup__message {
        margin-top: 130px;
        font-size: 12px;
    }
}