.filter__wrapper {
    position: relative;
    color: @main-dark;
}

.filter__list {
    margin: 0 0 -25px 0;
    padding: 0;

    list-style: none;
    font-size: 23px;
    font-weight: 400;
}

.filter__item {
    display: inline-block;
    margin-bottom: 25px;

    &:not(:last-child) {
        margin-right: 15px;
    }
}

.filter__item a {
    display: block;

    padding: 10px 20px;

    text-decoration: none;
    text-transform: uppercase;
    color: @light-blue;
    font-size: 14px;
    line-height: 1;

    border-radius: 8px;
    border: 2px solid @light-blue;

    transition: all 0.2s ease-in;

    &:hover,
    &:focus {
        color: #fff;
        background-color: @light-blue;
    }
}

@media (max-width: @mobile-width) {
    .filter__item {
        display: inline-block;
        margin-bottom: 15px;

        &:not(:last-child) {
            margin-right: 5px;
        }
    }
}

.filter__wrapper {
    margin-bottom: 125px;
}

@media (max-width: @mobile-width) {
    .filter__wrapper {
        margin-bottom: 50px;
    }
}