.first-page {
    padding-left: 175px;

    width: 100%;
    height: 100vh;

    background-color: #fff;
}

.first-page__logo {
    position: absolute;

    left: 23%;
    top: 48px;

    width: 280px;
    height: auto;
}

.first-page__logo img {
    display: block;
}

// @media (max-height: 680px) {
//     .first-page__logo {
//         width: 220px;
//     }
// }

@media (max-width: @medium-width) {
    .first-page__logo {
        top: 25px;
        width: 205px;
    }
}

@media (max-width: @xmobile-width) {
    .first-page__logo {
        top: 28px;
        width: 150px;
    }
}