.first-page {
    padding-left: 175px;

    width: 100%;
    height: 100vh;

    background-color: @white;
}

.first-page__logo {
    width: 200px;
    height: auto;
}

.first-page__logo img {
    display: block;
}

@media (max-width: @medium-width) {
    .first-page__logo {
        width: 200px;
    }
}

@media (max-width: @xmobile-width) {
    .first-page__logo {
        top: 28px;
        width: 150px;
    }
}

.first-page__columns {
    position: absolute;
    display: flex;

    justify-content: space-between;

    left: 35%;
    top: 32vh;

    min-width: 540px;

    @media (max-width: @xmedium-width) {
        left: 32%;
        min-width: 510px;
    }

    @media (max-width: @medium-width) {
        flex-direction: column;
        align-items: center;

        left: calc(50% - 300px/2);
        top: 22vh;

        min-width: 300px;
        text-align: center;
    }
}

.first-page__wrapper {
    max-width: 300px;
    color: @main-dark;
}

.first-page__title {
    margin-bottom: 15px;

    font-weight: 700;
    font-size: 24px;
    line-height: 1.2;
    color: @biruse;
    text-transform: uppercase;
    letter-spacing: 0;

    @media (max-width: @mobile-width) {
        margin-right: auto;
        margin-left: auto;
        margin-bottom: 10px;
        max-width: 190px;
        font-size: 16px;
    }
}

.first-page__text {
    margin: 0 0 25px 0;

    font-weight: 100;
    font-size: 16px;

    @media (max-width: @mobile-width) {
        margin-bottom: 10px;
        font-size: 14px;
    }
}