.gratitude__section {
    margin-bottom: 100px;
    padding: 50px 0;
    min-height: 100px;
    background-color: fade(@violet, 10%);
}

.gratitude__header {
    margin: 0 0 70px 0;

    font-size: 42px;
    font-weight: 700;
    color: @light-blue;
}

.gratitude__columns {
    display: flex;

    justify-content: space-between;
    align-items: flex-start;

    font-size: 16px;
    font-weight: 100;
    color: @black;
    line-height: 1.6;

    @media (max-width: @medium-width) {
        flex-direction: column;
    }
}

.gratitude__pic img {
    width: 140px;
    border: 2px solid @light-blue;

    @media (max-width: @medium-width) {
        margin-bottom: 30px;
        width: 200px;
    }
}

.gratitude__from {
    max-width: 200px;

    @media (max-width: @medium-width) {
        margin-bottom: 30px;
    }
}

.gratitude__main {
    max-width: 700px;
}

.gratitude__author {
    display: inline-block;
    margin-bottom: 5px;
    font-size: 24px;
    font-weight: 700;
}

.gratitude__position {
    margin: 0 0 5px 0;
}

.gratitude__text {
    margin: 0 0 40px 0;
}

.gratitude__link {
    color: @biruse;
}

.gratitude__download {
    display: inline-block;

    padding-right: 32px;
    min-height: 50px;

    vertical-align: middle;
    line-height: 50px;
    text-decoration: none;
    font-weight: 700;
    color: @biruse;

    background-image: url('../img/pdf-file.svg');
    background-repeat: no-repeat;
    background-size: 22px 28px;
    background-position: right center;
}
