.home-button {
    display: block;
    
    width: 36px;
    height: 22px;

    &:hover, &:focus {
        & .home-button__img {
            fill: @light-blue;
        }
    }
}

.home-button__img {
    display: block;
    width: 20px;
    height: 20px;
    fill: @biruse;
}