.inline-social__list {
    display: inline-block;

    margin: 0;
    padding: 0;

    list-style: none;
}

.inline-social__title {
    display: inline-block;
    margin-right: 10px;
}

.inline-social__item {
    display: inline-block;

    &:not(:last-child) {
        margin-right: 5px;
    }
}

.inline-social__item a {
    color: @biruse;
    text-decoration: none;
}