.inner-content {
    margin-bottom: 90px;
    padding: 0 180px 0 180px;
    font-weight: 400;

    @media (max-width: @medium-width) {
        padding: 0;
    }
}

.inner-content__title {
    margin: 75px 0;

    color: @biruse;
    font-size: 46px;
    font-weight: 400;

    @media (max-width: @medium-width) {
        font-size: 36px;
    }
}

.inner-content__main-pic {
    width: 100%;
}

.inner-content__columns {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.inner-content__autor-info {
    display: flex;
    flex-direction: column;
    margin-left: 35px;

    @media (max-width: @xmedium-width) {
        font-size: 14px;
    }
}

.inner-content__autor-title {
    font-size: 42px;
    color: @biruse;
}

.inner-content__autor {
    box-sizing: border-box;
    margin-bottom: 60px;
    padding: 0 128px 0 185px;
    min-height: 100px;

    @media (max-width: @medium-width) {
        padding: 0px 10px 0px 10px;
    }
}

.inner-content__autor-name {
    margin-bottom: 10px;
    font-size: 16px;
}

.inner-content__autor-position {
    font-size: 14px;
    font-weight: 400;
    color: @light-blue;
}

.inner-content__avatar {
    width: 110px;
}

.inner-content__content h3 {
    margin: 45px 0;
    font-size: 28px;
    font-weight: 400;

    @media (max-width: @medium-width) {
        font-size: 22px;
    }
}

.inner-content__content p,
.inner-content__abstract {
    margin: 40px 0;
    font-size: 22px;
    font-weight: 100;

    @media (max-width: @medium-width) {
        font-size: 18px;
    }
}

.inner-content__content img {
    margin: 75px 0;
    width: 100%;

    @media (max-width: @medium-width) {
        margin: 45px 0;
    }
}

.inner-content__social-button {
    padding: 0 180px 0 180px;

    @media (max-width: @medium-width) {
        padding: 0;
    }
}
