.inner-swiper__container {
    position: absolute;

    left: calc(50% - 700px/2);
    bottom: 24%;

    width: 700px;
    height: auto;
    min-height: 52px;

    font-size: 34px;

    overflow: hidden;
}

@media (max-width: @large-width) {
    .inner-swiper__container {
        left: calc(50% - 450px/2);
        width: 450px;
        font-size: 22px;
    }
}

@media (max-width: @medium-width) {
    .inner-swiper__container {
        left: calc(50% - 350px/2);
        bottom: 44%;

        width: 350px;
        
        font-size: 18px;
    }
}

.inner-swiper__slide p {
    margin: 0;
}

.inner-swiper__pagination.swiper-pagination-bullets {
    margin: 0 auto;
    left: 50px;
    width: 70px;
}

.inner-swiper__pagination .swiper-pagination-bullet {
    opacity: 1;
    background-color: @main-dark;

    transition: all 0.2s ease-in-out;
}

.inner-swiper__pagination .swiper-pagination-bullet-active {
    width: 40px;

    border-radius: 4px;
    background-color: @biruse;
}