.language-button__wrapper {
    display: flex;
    position: absolute;

    justify-content: space-between;

    right: 18%;
    top: 48px;

    width: 125px;
    height: auto;
}

.language-button__line {
    display: block;
    position: absolute;

    left: calc(50% - 40px/2);
    top: 50%;

    width: 40px;
    height: 1px;

    background-color: @main-dark;
}

.language-button {
    display: block;

    width: 30px;
    height: 22px;

    background-repeat: no-repeat;
    background-position: center;
    background-size: 20px 12px;
}

.language-button--ru {
    &.language-button--dark {
        background-image: url('../img/ru-unfill.png');
    }

    &.language-button--light {
        background-image: url('../img/ru-unfill-light.png');
    }
}

.language-button--en {
    &.language-button--dark {
        background-image: url('../img/en-unfill.png');
    }

    &.language-button--light {
        background-image: url('../img/en-unfill-light.png');
    }
}

.language-button--fill.language-button--ru {
    &.language-button--dark {
        background-image: url('../img/ru-fill.svg');
    }

    &.language-button--light {
        background-image: url('../img/ru-fill-light.svg');
    }
}

.language-button--fill.language-button--en {
    &.language-button--dark {
        background-image: url('../img/en-fill.svg');
    }

    &.language-button--light {
        background-image: url('../img/en-fill-light.svg');
    }
}

@media (max-width: @medium-width) {
    .language-button--en {
        display: none;
    }

    .language-button__line {
        display: none;
    }

    .language-button__wrapper {
        width: 30px;
    }
}