.main-title {
    margin: 0 0 10px;

    text-align: center;
    font-size: 25px;
    font-weight: 700;
    line-height: 1;

    &--biruse {
        color: @biruse;
    }

    @media (max-width: @medium-width) {
        min-height: 45px;
        font-size: 34px;
    }

    @media (max-width: @mobile-width) {
        min-height: 40px;
        font-size: 28px;
    }

    @media (max-width: @xmobile-width) {
        min-height: 30px;
        font-size: 20px;
    }
}

.main-title__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-bottom: 60px;
    padding: 30px 0;
    width: 100%;

    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;

    &--portfolio {
        background-image: url('../img/title_portfolio_back.png');
    }

    &--project {
        background-image: url('../img/title_project_back.png');
    }

    &--blog {
        background-image: url('../img/title_blog_back.png');
    }

    &--news {
        background-image: url('../img/title_news_back.png');
    }
}

@media (max-width: @xmedium-width) {
    .main-title__wrapper {
        margin-bottom: 50px;
    }
}

.main-title__text {
    font-size: 21px;
    font-weight: 400;
    text-align: center;
    color: @light-blue;
}

@media (max-width: @medium-width) {
    .main-title__text {
        font-size: 22px;
    }
}

@media (max-width: @mobile-width) {
    .main-title__text {
        font-size: 16px;
    }
}

.main-title__date {
    color: @main-grey;
    font-size: 17px;

    .main-title__icon {
        margin-right: 8px;
        fill: @main-grey;
    }
}
