@gap-width: 39px;

.news__list {
    display: flex;

    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    margin-right: -@gap-width;
    margin-bottom: -@gap-width;
}

@media (max-width: @medium-width) {
    .news__list {
        margin-top: 50px;
    }
}

@media (max-width: @mobile-width) {
    .news__list {
        justify-content: center;
        margin-top: 25px;
        margin-right: 0;
    }
}

.news__item {
    display: block;
    position: relative;

    box-sizing: border-box;
    margin-bottom: @gap-width;
    margin-right: @gap-width;
    padding-bottom: 275px;

    height: 520px;
    width: calc(33.33% - @gap-width);

    text-decoration: none;

    border-radius: 10px;
    box-shadow: 0 0 20px 2px @dark-grey;
    overflow: hidden;

    outline: none;

    &--big {
        padding-bottom: 0;
        width: calc(66.66% - @gap-width);
    }
}

@media (max-width: @xmedium-width) {
    .news__item {
        width: calc(49.99% - @gap-width);

        &--big {
            width: 100%;
        }
    }
}

@media (max-width: @mobile-width) {
    .news__item {
        margin-right: 0;
        padding-bottom: 200px;
        max-width: 415px;
        width: 100%;
        height: 445px;
    }
}

.news__picture {
    position: relative;

    width: 100%;
    height: 250px;

    background-color: @biruse;

    overflow: hidden;
}

.news__picture img {
    display: block;
    position: absolute;

    top: 0;
    left: calc(50% - 415px/2);

    max-width: 415px;
    width: 415px;
    height: 100%;
}

.news__item--big .news__picture img {
    left: calc(50% - 870px/2);
    max-width: 870px;
    width: 870px;
}

@media (max-width: @mobile-width) {
    .news__item--big .news__picture img {
        left: calc(50% - 415px/2);

        max-width: 415px;
        width: 415px;
    }
}

.news__card {
    position: absolute;

    left: 0;
    bottom: 0;

    box-sizing: border-box;
    padding: 40px 35px 60px 45px;
    height: 275px;
    width: 100%;

    font-weight: 400;
    color: @black;

    background-color: @white;

    overflow: hidden;

    transition: all 0.3s ease-out;
}

.news__item:hover .news__card,
.news__item:focus .news__card {
    height: 317px;
}

.news__item--big:hover .news__card,
.news__item--big:focus .news__card {
    height: 317px;
    width: 64%;
}

@media (max-width: @medium-width) {
    .news__card {
        padding: 20px 15px 30px 15px;
    }
}

@media (max-width: @mobile-width) {
    .news__card {
        height: 200px;
    }

    .news__item:hover .news__card,
    .news__item:focus .news__card {
        height: 240px;
    }
}

.news__text {
    margin: 0;
    font-size: 22px;
}

@media (max-width: @mobile-width) {
    .news__text {
        font-size: 20px;
    }
}

.news__date {
    position: absolute;

    left: 45px;
    bottom: 30px;

    font-size: 18px;

    .news__icon {
        margin-right: 8px;
        width: 12px;
        height: 12px;
        fill: @black;
    }
}

@media (max-width: @medium-width) {
    .news__date {
        left: 15px;
        bottom: 10px;

        font-size: 16px;
    }
}

.news__item--big .news__card {
    width: 58%;
    color: @white;
    border-top-right-radius: 10px;
    .main-gradient;

    .news__icon {
        fill: @white;
    }
}

@media (max-width: @mobile-width) {
    .news__item--big .news__card {
        width: 100%;
        border-top-right-radius: 0;
    }

    .news__item--big:hover .news__card,
    .news__item--big:focus .news__card {
        width: auto;
    }
}

.news__item--big .news__picture {
    height: 100%;
}

.news__load-more {
    margin: 140px auto 0 auto;

    &:hover::before,
    &:focus::before {
        transform: rotate(180deg);
    }
}

@media (max-width: @medium-width) {
    .news__load-more {
        margin-top: 80px;
    }
}

.news__type {
    margin: 0 0 20px 0;

    font-size: 20px;
    color: @light-grey;
}
