@gap-width: 39px;

.news__list {
    display: flex;

    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    margin-right: -@gap-width;
    margin-bottom: -@gap-width;
}

@media (max-width: @medium-width) {
    .news__list {
        margin-top: 50px;
    }
}

@media (max-width: @mobile-width) {
    .news__list {
        justify-content: center;
        margin-top: 25px;
        margin-right: 0;
    }
}

.news__item {
    display: block;
    position: relative;

    box-sizing: border-box;
    margin-bottom: @gap-width;
    margin-right: @gap-width;
    padding-bottom: 275px;

    height: 520px;
    width: calc(33.33% - @gap-width);

    text-decoration: none;

    outline: none;

    &--big {
        padding-bottom: 0;
        width: calc(66.66% - @gap-width);
    }
}

@media (max-width: @xmedium-width) {
    .news__item {
        width: calc(49.99% - @gap-width);

        &--big {
            width: 100%;
        }
    }
}

@media (max-width: @mobile-width) {
    .news__item {
        margin-right: 0;
        padding-bottom: 200px;
        max-width: 415px;
        width: 100%;
        height: 445px;     
    }
}

.news__picture {
    position: relative;

    width: 100%;
    height: 250px;

    background-color: @biruse;

    overflow: hidden;
}

.news__picture img {
    display: block;
    position: absolute;

    top: 0;
    left: calc(50% - 415px/2);

    max-width: 415px;
    width: 415px;
    height: 100%;
}

.news__item--big .news__picture img {
    left: calc(50% - 870px/2);
    max-width: 870px;
    width: 870px;
}

@media (max-width: @mobile-width) {
    .news__item--big .news__picture img {
        left: calc(50% - 415px/2);

        max-width: 415px;
        width: 415px;
    }
}

.news__card {
    position: absolute;

    left: 0;
    bottom: 0;

    box-sizing: border-box;
    padding: 40px 35px 60px 45px;
    height: 275px;
    width: 100%;

    font-weight: 400;
    color: #000;

    background-color: @grey;

    overflow: hidden;

    transition: all 0.3s ease-out;
}

.news__item:hover .news__card,
.news__item:focus .news__card {
    height: 317px;
}

.news__item--big:hover .news__card,
.news__item--big:focus .news__card {
    height: 317px;
    width: 64%;
}

@media (max-width: @medium-width) {
    .news__card {
        padding: 20px 15px 30px 15px;
    }
}

@media (max-width: @mobile-width) {
    .news__card {
        height: 200px;
    }

    .news__item:hover .news__card,
    .news__item:focus .news__card {
        height: 240px;
    }
}

.news__text {
    margin: 0;
    font-size: 22px;
}

@media (max-width: @mobile-width) {
    .news__text {
        font-size: 20px;
    }
}

.news__date {
    position: absolute;

    left: 45px;
    bottom: 30px;

    font-size: 18px;
}

@media (max-width: @medium-width) {
    .news__date {
        left: 15px;
        bottom: 10px;

        font-size: 16px;
    }
}

.news__item--big .news__card {
    width: 58%;

    color: #fff;

    background-color: @orange;
}

@media (max-width: @mobile-width) {
    .news__item--big .news__card {
        width: 100%;
    }

    .news__item--big:hover .news__card,
    .news__item--big:focus .news__card {
        width: auto;
    }
}

.news__item--big .news__picture {
    height: 100%;
}

.news__more {
    display: block;
    position: relative;

    box-sizing: border-box;
    margin: 140px auto 0 auto;
    padding-right: 60px;
    height: 40px;
    width: 230px;

    font-size: 30px;
    font-weight: 100;
    color: #000;
    text-decoration: none;

    &::before {
        content: '';

        display: block;
        position: absolute;

        right: 0;
        top: calc(50% - 40px/2);

        width: 40px;
        height: 40px;

        background-repeat: no-repeat;
        background-position: center;
        background-image: url('../img/cycle-arrows.png');

        transition: all 0.2s ease-in-out;
    }

    &:hover::before,
    &:focus::before {
        transform: rotate(180deg);
    }
}

@media (max-width: @medium-width) {
    .news__more {
        margin-top: 80px;
        padding-right: 30px;
        height: 30px;
        width: 200px;

        font-size: 26px;

        &::before {
            top: calc(50% - 30px/2);

            width: 30px;
            height: 30px;

            background-size: 30px auto;
        }
    }
}

.news__type {
    margin: 0 0 20px 0;

    font-size: 20px;
    color: @light-grey;
}