.page-header__colums {
    display: flex;

    justify-content: space-between;
    align-items: center;

    min-height: 120px;
}

.page-header__logo {
    margin-left: 11%;
    width: 205px;
}

@media (max-width: 1060px) {
    .page-header__logo {
        margin-left: 80px;
    }
}

// @media (max-width: @xmedium-width) {
//     .page-header__logo {
        
//     }
// }

@media (max-width: @xmobile-width) {
    .page-header__logo {
        margin-left: 70px;
        width: 160px;
    }
}

.page-header__logo img {
    display: block;
}

.page-header__language-button {
    margin-left: 48%;
}

@media (max-width: @xmedium-width) {
    .page-header__language-button {
        margin-left: 5%;
    }
}

.page-header__home-button {
    margin-left: 5%;
}

.page-header__switch {
    position: fixed;

    left: 25px;
    top: 50px;
}

@media (max-width: @xmedium-width) {
    // .page-header__switch {
    //     position: relative;
    //     left: 0;
    //     top: 0;
    // }
}