.project__section {
    margin-top: 70px;
    margin-bottom: 80px;
}

.project__title {
    margin: 0 0 25px 0;

    color: @biruse;
    font-size: 46px;
    font-weight: 400;

    @media (max-width: @medium-width) {
        text-align: center;
    }
}

.project__info {
    margin: 0;

    color: @black;
    font-size: 28px;
    font-weight: 100;

    @media (max-width: @medium-width) {
        margin-bottom: 50px;
        text-align: center;
    }
}

.project__picture {
    width: 100%;
}

.project__picture img {
    display: block;
    margin: 0 auto;
    width: 100%;
}

.project__colums {
    display: flex;

    justify-content: space-between;
    align-items: flex-start;

    margin-top: 90px;

    @media (max-width: @medium-width) {
        flex-direction: column;
        align-items: center;
    }
}

.project__col {
    width: 30%;

    @media (max-width: @medium-width) {
        width: 100%;

        &:not(:last-child) {
            margin-bottom: 50px;
        }
    }
}

.project__subtitle {
    margin: 0 0 30px 0;

    font-size: 28px;
    font-weight: 400;
}

.project__text {
    font-size: 19px;
    font-weight: 100;
    line-height: 34px;
}

.project__arrow-button {
    margin-top: 60px;
}