.recall {
    position: relative;

    &::before {
        content: '';
        display: block;
        position: absolute;

        right: 15%;
        top: 96%;

        width: 60px;
        height: 110px;

        background-repeat: no-repeat;
        background-size: 100% auto;
        background-image: url('../img/pointerhand.png');

        @media (max-width: @medium-width) {
            right: 40%;
        }
    }
}

.recall__wrapper {
    display: flex;

    justify-content: center;
    align-items: center;

    min-height: 640px;
}

.recall__title {
    margin: 0 0 15px 0;

    font-size: 24px;
    font-weight: 700;
    color: @black;
}

.recall__text {
    margin: 0 0 30px 0;

    font-size: 16px;
    font-weight: 400;
}

.recall__form {
    display: flex;
    align-items: center;

    @media (max-width: @medium-width) {
        flex-direction: column;
    }
}

.recall__input {
    box-sizing: border-box;
    margin-right: 20px;
    padding: 0 35px;
    width: 250px;
    height: 50px;

    font-size: 18px;
    font-weight: 400;
    font-family: 'Arial Narrow',
    Arial,
    sans-serif;

    border: 1px solid @dark-grey;
    border-radius: 10px;
    outline: none;

    &:focus {
        box-shadow: 0 0 10px 1px @dark-grey;
    }

    &::-moz-placeholder {
        color: @dark-grey;
    }
    &::-webkit-input-placeholder {
        color: @dark-grey;
    }
    &::-ms-input-placeholder {
        color: @dark-grey;
    }
    &::placeholder {
        color: @dark-grey;
    }

    &--small {
        width: 235px;
    }

    @media (max-width: @medium-width) {
        margin-bottom: 20px;
        width: 228px;
    }

    @media (max-width: @medium-width) {
        margin-right: 0;
    }
}
