.second-page {
    padding-left: 175px;

    width: 100%;
    height: 100vh;

    background-color: @main-dark;
    background-image: url('../img/second-pageback.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0;
}

@media (max-width: @medium-width) {
    .second-page {
        background-position: 59% 0;
    }
}

.second-page__intro {
    visibility: hidden;
    position: absolute;

    bottom: calc(50vh - 240px/2);
    left: 195px;

    width: 1120px;
    height: 240px;

    color: #fff;

    z-index: 2;
    opacity: 0;

    transition: all 0.5s ease-in-out;

    &--open {
        visibility: visible;
        opacity: 1;
    }
}

.second-page__title {
    margin: 0;

    font-size: 180px;
    line-height: 200px;
    letter-spacing: -2px;
}

@media (max-width: @large-width) {
    .second-page__intro {
        left: 80px;
        bottom: calc(50vh - 210px/2);

        width: 660px;
        height: 210px;
    }

    .second-page__title {
        font-size: 100px;
    }
}

@media (max-width: @medium-width) {
    .second-page__intro {
        left: calc(50% - 380px/2);
        bottom: calc(50vh - 190px/2);

        width: 380px;
        height: 190px;
    }

    .second-page__title {
        font-size: 60px;
    }
}

@media (max-width: @xmobile-width) {
    .second-page__intro {
        left: calc(50% - 240px/2);
        bottom: calc(50vh - 240px/2);

        width: 240px;
        height: 180px;
    }

    .second-page__title {
        font-size: 40px;
    }
}

.second-page__more {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;

    left: 15px;
    bottom: 0;

    width: 165px;
    height: 45px;
}

.second-page__more span {
    font-size: 24px;
    font-weight: 400;
    letter-spacing: -1px;
}

// .second-page__more-info {
//     position: absolute;

//     left: 0px;
//     bottom: -60px;
// }

.second-page__plus-button {
    position: relative;

    width: 40px;
    height: 40px;

    border: none;
    background-color: #fff;

    border-radius: 50%;

    cursor: pointer;

    &::before, &::after {
        content: '';

        left: calc(50% - 22px/2);
        top: calc(50% - 4px/2);

        display: block;
        position: absolute;

        width: 22px;
        height: 4px;

        background-color: #000;
    }

    &::after {
        transform: rotate(90deg);
    }
}