.second-page {
    padding-left: 175px;

    width: 100%;
    height: 100vh;

    background-color: @main-dark;
    background-image: url('../img/second-pageback.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}