.service__columns {
    display: flex;

    justify-content: center;
    flex-direction: column;
    align-items: flex-start;

    @media (max-width: @mobile-width) {
        align-items: center;
    }
}

.service__col {
    display: flex;

    & .service__pic {
        margin-right: 60px;
    }

    &:not(:last-child) {
        margin-bottom: 100px;
    }

    &:nth-child(2n) {
        flex-direction: row-reverse;
        align-self: flex-end;

        & .service__pic {
            margin-right: 0;
            margin-left: 60px;
        }

        & .service__wrapper {
            text-align: end;
        }

        & .service__list {
            padding: 0 95px 0 0;
        }

        @media (max-width: @medium-width) {
            flex-direction: column;
            align-self: center;
        }
    }

    @media (max-width: @mobile-width) {
        flex-direction: column;
    }
}

.service__title {
    margin: 0 0 30px 0;

    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
    color: @light-blue;
    opacity: 0.1;

    @media (max-width: @medium-width) {
        font-size: 26px;
    }
}

.service__list {
    margin: 0;
    padding: 0 0 0 95px;
    list-style: none;
}

.service__item {
    margin-bottom: 10px;

    font-size: 18px;
    font-weight: 700;

    @media (max-width: @medium-width) {
        font-size: 16px;
    }
}

.service__item a {
    display: inline-block;
    position: relative;

    color: @light-blue;

    &:hover,
    &:focus {
        color: @biruse;
    }
}

.service__item--with-window a {
    color: @main-grey;

    &:hover,
    &:focus {
        color: fade(@main-grey, 80%);
    }
}

.service__pic {
    width: 330px;
    height: 300px;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;

    &--inspire {
        background-image: url('../img/back_inspire.png');
    }

    &--create {
        background-image: url('../img/back_create.png');
    }

    &--animate {
        background-image: url('../img/back_animate.png');
    }

    &--forward {
        background-image: url('../img/back_forward.png');
    }

    @media (max-width: @mobile-width) {
        width: 150px;
        height: 150px;
    }
}
