.social-button {
    display: inline-block;
    position: relative;

    padding: 8px 20px 8px 38px;

    color: @main-dark;
    font-size: 14px;
    font-weight: 700;
    text-decoration: none;

    border: 2px solid @light-blue;
    border-radius: 5px;

    background-repeat: no-repeat;
    background-position: 20px center;

    &:hover,
    &:focus {
        color: @white;

        .social-button__icon {
            fill: @white;
        }
    }

    &--fb {
        &:hover,
        &:focus {
            background-color: @fb-color;
        }
    }
    &--vk {
        &:hover,
        &:focus {
            background-color: @vk-color;
        }
    }
    &--tw {
        &:hover,
        &:focus {
            background-color: @tw-color;
        }
    }

    &:not(:last-child) {
        margin-right: 25px;
    }
}

.social-button__icon {
    position: absolute;

    top: calc(50% - 8px);
    left: 10px;

    height: 16px;
    fill: @black;
}

.social-button__title {
    font-size: 19px;
    line-height: 50px;
    font-weight: 100;
}

.social-button__wrapper {
    margin-bottom: 90px;
}

.social-button__intro {
    margin-bottom: 8px;
    font-size: 14px;
    font-weight: 400;
}
