.social {
    display: block;

    margin: 0 auto;

    background-repeat: no-repeat;
    background-position: center;

    &:not(:last-child) {
        margin-bottom: 40px;
    }
    &--inst {
        height: 20px;
        width: 20px;
    }
    &--fb {
        height: 38px;
        width: 20px;
    }
    &--vk {
        height: 22px;
        width: 36px;
    }
    &--bh {
        height: 25px;
        width: 36px;
    }
}

.social--dark {
    &.social--inst {
        background-image: url('../img/instagram-dark.png');
    }
    &.social--fb {
        background-size: 20px 38px;
        background-image: url('../img/facebook-dark.png');
    }
    &.social--vk {
        background-image: url('../img/vk-dark.png');
    }
    &.social--bh {
        background-image: url('../img/behance-dark.png');
    }
}

.social--light {
    &.social--inst {
        background-image: url('../img/instagram-light.png');
    }
    &.social--fb {
        background-image: url('../img/facebook-light.png');
    }
    &.social--vk {
        background-image: url('../img/vk-light.png');
    }
    &.social--bh {
        background-image: url('../img/behance-light.png');
    }
}

.social__wrapper {
    width: auto;
    min-height: 225px;
} 