.social-button {
    display: inline-block;

    padding: 5px 20px 5px 45px;

    color: @main-dark;
    font-size: 24px;
    font-weight: 400;
    text-decoration: none;

    border: 1px solid @active-word;
    border-radius: 2px;

    background-repeat: no-repeat;
    background-position: 20px center;

    &--fb {
        background-image: url(../img/facebook-df.png);

        &:hover {
            background-color: @fb-color;
        }
    }
    &--vk {
        padding-left: 65px;
        background-image: url(../img/vkontakte.png);

        &:hover {
            background-color: @vk-color;
        }
    }
    &--tw {
        padding-left: 55px;
        background-image: url(../img/twitter.png);

        &:hover {
            background-color: @tw-color;
        }
    }

    &:not(:last-child) {
        margin-right: 25px;
    }
}

.social-button__title {
    font-size: 19px;
    line-height: 50px;
    font-weight: 100;
}

.social-button__wrapper {
    margin-bottom: 90px;
}