.swiper-container__custom {
    width: 100vw;
    height: 100vh;
}

.swiper-pagination-custom {
    bottom: 6px;

    width: auto;

    font-size: 29px;
    font-weight: 100;
    color: @menu-color;
}

.swiper-pagination-custom .swiper-pagination-current {
    font-size: 46px;
    font-weight: 700;
    color: #fff;

    transition: all 0.5s ease-out;
}

@media (max-width: @medium-width) {
    .swiper-pagination-custom .swiper-pagination-current {
        color: @main-dark;
    }

    .swiper-pagination-custom--light .swiper-pagination-current {
        color: #fff;
    }
}

@media (max-width: @mobile-width) {
    .swiper-pagination-custom {
        font-size: 19px;
    }

    .swiper-pagination-custom .swiper-pagination-current {
        font-size: 25px;
    }
}

.swiper-pagination__custom-wrapper {
    position: absolute;

    left: 60px;
    bottom: 75px;

    width: 245px;
    height: 50px;

    z-index: 2;

    &::before {
        content: '';

        display: block;
        position: absolute;

        left: 0;
        right: 0;
        bottom: 0;

        height: 3px;

        background-color: @menu-color;
        z-index: 2;
    }
}

@media (max-width: @xmedium-width) {
    .swiper-pagination__custom-wrapper {
        bottom: 20px;
    }
}

@media (max-width: @mobile-width) {
    .swiper-pagination__custom-wrapper {
        left: 15px;
        width: 120px;
    }
}

.swiper-pagination-custom__label {
    display: block;
    position: absolute;

    right: 0;
    bottom: 10px;

    width: auto;

    font-size: 29px;
    font-weight: 400;
    color: @violet;

    z-index: 2;
    transition: all 0.3s ease-in;

    &--mobile {
        display: none;
    }
}

.swiper-pagination-custom__label--dark {
    color: @main-dark;
}

@media (max-width: @mobile-width) {
    .swiper-pagination-custom__label {
        bottom: 7px;
        font-size: 19px;
    }

    .swiper-pagination-custom__label--desktop {
        display: none;
    }

    .swiper-pagination-custom__label--mobile {
        display: initial;
    }
}

.swiper-button-prev,
.swiper-button-next {
    top: auto;
    left: 325px;

    width: 40px;
    height: 20px;

    background-image: none;
    z-index: 1;
    transition: all 0.2s ease-in;
    outline: none;

    &::before,
    &::after {
        content: '';
        display: block;
        position: absolute;
    }

    &::before {
        left: 0;
        right: 0;
        top: calc(50% - 2px/2);

        height: 2px;

        background-color: @violet;
    }

    &:hover::after,
    &:focus::after {
        border-color: @biruse;
    }

    &:hover::before,
    &:focus::before {
        background-color: @biruse;
    }
}

.swiper-button-prev {
    bottom: 75px;
    visibility: visible;
    opacity: 1;

    &:hover,
    &:focus {
        width: 43px;
        transform: translateX(-3px);
    }

    &::after {
        left: 0;
        top: calc(50% - 16px/2);

        width: 14px;
        height: 14px;

        border-bottom: 2px solid @violet;
        border-left: 2px solid @violet;

        transform-origin: center;
        transform: rotate(45deg);
    }
}

.swiper-button-next {
    bottom: 95px;

    &:hover,
    &:focus {
        width: 45px;
    }

    &::after {
        right: 0;
        top: calc(50% - 16px/2);

        width: 14px;
        height: 14px;

        border-top: 2px solid @violet;
        border-right: 2px solid @violet;

        transform-origin: center;
        transform: rotate(45deg);
    }
}

.swiper-button-prev.swiper-button-disabled,
.swiper-button-next.swiper-button-disabled {
    opacity: 0.4;
}

@media (max-width: @xmedium-width) {
    .swiper-button-prev {
        bottom: 20px;
    }

    .swiper-button-next {
        bottom: 40px;
    }
}

@media (max-width: @mobile-width) {
    .swiper-button-prev,
    .swiper-button-next {
        display: none;
    }
}