@work-gap: 40px;

.work__list {
    display: flex;

    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;

    margin-bottom: -@work-gap;
    margin-right: -@work-gap;
}

@media (max-width: @medium-width) {
    .work__list {
        margin-right: 0;
    }
}

.work__item {
    display: block;
    position: relative;

    margin-right: @work-gap;
    margin-bottom: @work-gap;

    width: calc(49.99% - @work-gap);
    height: 445px;

    text-decoration: none;

    border-radius: 8px;

    &:nth-child(2n) {
        transform: translateY(@work-gap);
    }
}

@media (max-width: @medium-width) {
    .work__item {
        margin-right: auto;
        margin-left: auto;
        max-width: 630px;
        width: 100%;

        &:nth-child(2n) {
            transform: translateY(0);
        }
    }
}

@media (max-width: @mobile-width) {
    .work__item {
        height: 350px;
    }
}

.work__card {
    position: absolute;

    left: 0;
    bottom: 0;

    box-sizing: border-box;
    width: 55%;
    height: 100px;

    font-size: 22px;
    text-align: center;
    color: #fff;

    background-color: @biruse;
    background-image: linear-gradient(to right, @biruse 20%, @blue 100%);
    border-radius: 0 8px 0 8px;

    overflow: hidden;

    transition: all 0.2s ease;
}

.work__hover {
    position: absolute;
    visibility: hidden;
    opacity: 0;

    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: ease;
}

.work__title {
    margin: 30px 0 0 0;
    font-size: 34px;
}

.work__sphere {
    margin: 60px 0 0 0;
    font-weight: 400;
}

.work__desc {
    margin: 70px 0 0 0;
}

.work__tags {
    margin: 75px 0 0 0;
    font-weight: 400;
}

@media (max-width: @mobile-width) {
    .work__card {
        width: 100%;
        height: 70px;
        font-size: 18px;
    }

    .work__title {
        margin-top: 20px;       
        font-size: 28px;
    }

    .work__sphere {
        margin-top: 30px;
    }

    .work__desc {
        margin-top: 40px;
    }
}

.work__item:hover,
.work__item:focus {
    & .work__card {
        padding: 0 60px;

        width: 100%;
        height: 100%;

        border-radius: 8px 8px 8px 8px;
    }

    & .work__hover {
        position: static;
        visibility: visible;
        opacity: 1;

        transition-delay: 0.2s;
    }
}

@media (max-width: @mobile-width) {
    .work__item:hover,
    .work__item:focus {
        & .work__card {
            padding: 0 20px;
        }
    }
}

.work__picture {
    position: relative;
    width: 100%;
    height: 100%;

    background-color: @menu-color;
    border-radius: 8px;

    overflow: hidden;
}

.work__picture img {
    display: block;
    position: absolute;

    top: calc(50% - 445px/2);
    left: calc(50% - 630px/2);

    max-width: 630px;
    width: 630px;
    height: 445px;
}

.work__load-more {
    margin: 140px auto 0 auto;
}

@media (max-width: @medium-width) {
    .work__load-more {
        margin-top: 80px;
    }
}