body {
    margin: 0;
    padding: 0;
}

.first-page {
    width: 100%;
    height: 100vh;

    background-color: aqua;
}

.second-page {
    width: 100%;
    height: 100vh;

    background-color: aquamarine;
}

.third-page {
    width: 100%;
    height: 100vh;

    background-color: yellow;
}