@menu-color: #9796c5;
@active-word: #ccccff;
@biruse: #76dff4;
@main-dark: #171339;
@footer-grey: #1c1d1e;
@grey: #f1f2f2;
@light-grey: #cccccc;
@orange: #f79321;

@large-width: 1480px;
@xmedium-width: 960px;
@medium-width: 820px;
@mobile-width: 520px;
@xmobile-width: 460px;