<footer class="page-footer">
    <div class="container">
        <div class="page-footer__colums">
            <span class="page-footer__copyright">&copy; 2019 Creative studio</span>
            <div class="inline-social__wrapper">
                <span class="inline-social__title">Медиа:</span>
                <ul class="inline-social__list">
                    <li class="inline-social__item inline-social__item--vk">
                        <a href="#">Вконтакте</a>
                    </li>
                    <li class="inline-social__item inline-social__item--inst">
                        <a href="#">Инстаграм</a>
                    </li>
                    <li class="inline-social__item inline-social__item--bhn">
                        <a href="#">Behance</a>
                    </li>
                    <li class="inline-social__item inline-social__item--fb">
                        <a href="#">facebook</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
<script type="text/javascript" src="js/main-nav.js"></script>
<script type="text/javascript" src="js/language-button.js"></script>