<svg style="display: none;">
    <symbol id="house_icon" viewBox="0 0 306.773 306.773">
        <path
            d="M302.93,149.794c5.561-6.116,5.024-15.49-1.199-20.932L164.63,8.898
                    c-6.223-5.442-16.2-5.328-22.292,0.257L4.771,135.258c-6.092,5.585-6.391,14.947-0.662,20.902l3.449,3.592
                    c5.722,5.955,14.971,6.665,20.645,1.581l10.281-9.207v134.792c0,8.27,6.701,14.965,14.965,14.965h53.624
                    c8.264,0,14.965-6.695,14.965-14.965v-94.3h68.398v94.3c-0.119,8.264,5.794,14.959,14.058,14.959h56.828
                    c8.264,0,14.965-6.695,14.965-14.965V154.024c0,0,2.84,2.488,6.343,5.567c3.497,3.073,10.842,0.609,16.403-5.513L302.93,149.794z" />
    </symbol>
</svg>
<header class="page-header">
    <div class="container container--fluid">
        <div class="page-header__colums">
            <button class="main-nav__switch main-nav__switch--zero-w page-header__switch">
                <span></span>
            </button>
            <div class="page-header__logo">
                <img width="39" src="img/pages_logotype.png">
            </div>
            <div class="language-button__wrapper page-header__language-button">
                <a href="#"
                    class="language-button language-button--active">ru</a>
                <span class="language-button__line"></span>
                <a href="#"
                    class="language-button language-button--unactive">en</a>
            </div>
            <a href="#" class="home-button page-header__home-button">
                <svg class="home-button__img">
                    <use xlink:href="#house_icon"></use>
                </svg>
            </a>
        </div>
    </div>
</header>
<aside class="page__aside-panel page__aside-panel--zero-w">
    <nav class="main-nav">
        <ul class="main-nav__list">
            <li class="main-nav__item"><a href="index.html">Главная</a></li>
            <li class="main-nav__item"><a href="portfolio.html">Портфолио</a></li>
            <li class="main-nav__item"><a href="services.html">Услуги</a></li>
            <li class="main-nav__item"><a href="#">О нас</a></li>
            <li class="main-nav__item"><a href="blog.html">Блог</a></li>
            <li class="main-nav__item"><a href="#">Контакты</a></li>
        </ul>
    </nav>
    <div class="main-nav__links">
        <a href="#" class="main-nav__link">Бриф <span class="main-nav__low">docx, 2 мб</span></a>
        <a href="#" class="main-nav__link">Прайс <span class="main-nav__low">pdf, 11 мб</span></a>
    </div>
</aside>
<div class="page__dark-back"></div>